<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIOStreamsBaseURL</key>
	<string>$(AIOSTREAMS_BASE_URL)</string>
	<key>Allow Arbitrary Loads</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PrivacyPolicyURL</key>
	<string>$(PRIVACY_POLICY_URL)</string>
	<key>TMDBReadAccessToken</key>
	<string>$(TMDB_READ_ACCESS_TOKEN)</string>
	<key>OMDbAPIKey</key>
	<string>$(OMDB_API_KEY)</string>
	<key>TraktClientID</key>
	<string>$(TRAKT_CLIENT_ID)</string>
	<key>TraktClientSecret</key>
	<string>$(TRAKT_CLIENT_SECRET)</string>
	<key>TraktRedirectURI</key>
	<string>$(TRAKT_REDIRECT_URI)</string>
</dict>
</plist>
