<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DEVELOPER_DIR</key>
		<string>/Applications/Xcode.app/Contents/Developer</string>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.veyra.woonkamer.autodeploy</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>/Users/stinus/Developer/Veyra/Tools/woonkamer_autodeploy.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/stinus/Library/Application Support/Veyra/Woonkamer/watcher-error.log</string>
	<key>StandardOutPath</key>
	<string>/Users/stinus/Library/Application Support/Veyra/Woonkamer/watcher.log</string>
	<key>ThrottleInterval</key>
	<integer>15</integer>
	<key>Umask</key>
	<integer>63</integer>
	<key>WorkingDirectory</key>
	<string>/Users/stinus/Developer/Veyra</string>
</dict>
</plist>
